{% extends 'base.html.twig' %}

{% block body %}
    <h1>Testou</h1>

    <div>{{ mySerie.title }}{{ autreVar }}</div>


    <div>

        <div>{{ "now"|date('Y') }}</div>
        <div>{{ "+1 year"|date('Y') }}</div>

        {# commentaires #}
        {% set name = "Guillaume" %}
        <h2>{{ name|length }}</h2>

        {# créé un tableau #}
        {% set colors = ["orange", "brown", "turquoise", "blue"] %}

        <div>Nombre de couleurs : {{ colors|length }}</div>

        <div>{{ colors|join('/') }}</div>

        {% for color in colors %}

            <div>{{ loop.last }}</div>
            <div style="background-color: {{ color }}">{{ color }}</div>
        {% endfor %}

        {%
            set book = {
            title : 'PifPaf',
            annee : 2000,
            auteur : 'John Doe'}
        %}
        <h3>{{ book.auteur }}</h3>
        <div>
            {% for key, val in book %}
                <div>{{ key }} : {{ val }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block title %}{{ parent() }} | Testounet{% endblock %}
